body, html {
    height: 100%;
    margin: 0px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    overflow-y: hidden;
}

body * {
    box-sizing: border-box;
}

#component_repo {
    display: none;
}

*.hidden {
    display: none;
}

header {
    width: 100%;
    height: 75px;
    background-color: #212121;
    box-shadow: 0px 2px 4px #00000080;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
}

header p {
    color: white;
    margin: 0px;
}

#header_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-size: 20px;
    margin-left: 20px;
}

#title_dna {
    width: 30px;
    height: 30px;
}

#header_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

#header_buttons p {
    cursor: pointer;
    margin-left: 20px;
}

#header_buttons p:hover {
    opacity: 75%;
}

#page {
    height: calc(100% - 75px);
    width: 100%;
    display: flex;
}

#page > * {
    height: 100%;
}

.fake_elem {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#mask {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 998;
    opacity: 0%;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

#mask.show {
    opacity: 80%;
    visibility: visible;
    transition: opacity 0.2s, visibility 0.2s;
}

#loading_mask {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 998;
    opacity: 0%;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading_mask.show {
    opacity: 100%;
    visibility: visible;
    transition: opacity 0.2s, visibility 0.2s;
}

#loading_dna:not(.stopped) {
    width: 25%;
    animation: dna_rotate 1s linear infinite;
}

@keyframes dna_rotate{
    0%{
        transform: scale(1, 1);
    }

    50%{
        transform: scale(-1, 1);
    }

    100%{
        transform: scale(1, 1);
    }
}

#left_menu {
    width: 300px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 2px 0px 4px #00000080;
    z-index: 2;
    transition: width 0.2s;
    color: black;
}

#left_menu > * {
    padding: 15px 15px;
}

#left_menu > *:not(:last-child) {
    border-bottom: 1px solid #00000020  ;
}

#left_menu.retracted {
    width: 0px;
    transition: width 0.2s;
}

.left_menu_label {
    color: #000000A0;
    margin-bottom: 12px;
}

#close_left_menu {
    font-size: 40px;
    cursor: pointer;
    margin: -8px -8px -8px -8px;
}

#close_left_menu:hover {
    opacity: 60%;
}

#open_left_menu_container {
    width: 50px;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 75px;
    left: 0px;
    color: black;
    padding: 15px;
}

#open_left_menu {
    font-size: 40px;
    cursor: pointer;
    margin: -8px -8px -8px -8px;
}

#open_left_menu:hover {
    opacity: 60%;
}

#left_menu_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reset {
    cursor: pointer;
    font-size: 20px;
    margin: 0px;
}

#reset:hover {
    opacity: 60%;
}

#content {
    flex-grow: 1;
    background-color: white;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, textarea {
    border: none;
    border-bottom: 2px solid #212121;
    background-color: #eeeeee;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
    padding: 10px;
    outline: none;
}

input:not(:valid), textarea.invalid {
    border-bottom: 2px solid #b71c1c;
    color: #b71c1c;
}

button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    opacity: 60%;
}

p {
    margin-top: 0px;
}

/* AUDIO */

.audio {
    height: 165px;
    width: 300px;
    transition: opacity 0.2s;
    display: flex;
}

.audio_download {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.audio_download p {
    font-size: 16px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audio_download p:last-child {
    margin: 0px;
}

.audio_download span:first-child {
    font-size: 24px;
    margin-right: 10px;
}

.audio > span {
    line-height: 55%;
}

.audio:not(.disabled) {
    cursor: pointer;
}

.audio.disabled span {
    opacity: 60%;
}

.audio.smaller {
    height: 110px;
    width: 200px;
    margin: 50px 0;
}

.audio:not(.disabled) > span:hover {
    opacity: 60%;
    transition: opacity 0.2s;
}

.audio >  span {
    font-size: 300px;
}

.audio.smaller >  span {
    font-size: 200px;
}

/* END AUDIO */

/* MODAL */

.modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.modal {
    height: min-content;
    max-width: 800px;
    min-width: 600px;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    position: absolute;
    z-index: 999;
    opacity: 0%;
    transition: opacity 0.2s, visibility 0.2s;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    color: black;
}

.modal.show {
    visibility: visible;
    opacity: 100%;
    transition: opacity 0.2s, visibility 0.2s;
    box-shadow: 2px 2px 4px #00000080;
}

.modal_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_top p {
    margin: 0px;
    font-size: 24px;
}

.modal_close {
    font-size: 40px;
    margin: -8px -8px 0px 0px;
    cursor: pointer;
}

.modal_close:hover {
    opacity: 60%;
}

.modal_body {
    padding: 20px 0px;
}

/* END MODAL */

/* RESET MODAL */

.reset_modal_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.reset_modal_body form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

/* END RESET MODAL */

/* JSON DISPLAY */

.json_display {
    margin-left: -20px;
}

.json_display_elem {
    margin-left: 20px;
    margin-top: 4px;
}

/* END JSON DISPLAY */

/* EVAL BAR */

.eval_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    border-top: 1px solid #00000040;
}

.eval_bar_point {
    font-size: 60px;
    cursor: pointer;
    padding: 10px;
}

.eval_bar_point.material-icons {
    opacity: 60%;
}

/* END EVAL BAR */
