<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Genetic Music</title>
        <link rel="stylesheet" href="/css/style" type="text/css">
    </head>
    <body>
        
        
        <script src="/js/main"></script>
    </body>
</html>